body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: 14px;
}

.logo {
    height: 85px;
    background-color: rgb(248, 0, 50);
}

.rodape {
    height: 85px;
    background-color: #EAEAEA;
}

section {
    padding: 10px 250px 50px 250px;
}

h1 {    
    font-weight: bold;
    font-size: 30px;
}

h2 {    
    font-weight: bold;
    font-size: 20px;
}

ul {
    margin-left: -25px;
}

.button {
    font-size: 15px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    background-color: rgb(248, 0, 50);
    border: 1px solid rgb(248, 0, 50);
    border-radius: 3px;
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 15px;
    cursor: pointer; 
}

.button:hover{
    opacity: 80%;
}

#button {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10px;
}

.conteudo {
    display: flex;
    flex-direction: column;
}

.imagem {
    margin-top:26px;
    margin-left:150px;
    height:32px;
}

/* APLICANDO RESPONSIVIDIDADE */
@media screen and (min-width: 1200px) and (max-width: 1480px) {
    section {
        padding: 10px 150px 50px 150px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    section {
        padding: 10px 130px 50px 130px;
    }
}
@media screen and (min-width: 765px) and (max-width: 992px) {
    section {
        padding: 10px 90px 50px 90px;
    }
    .imagem {
        margin-left:50px;
    }
}
@media screen and (max-width: 765px) {
    section {
        padding: 10px 50px 50px 50px;
    }
    .imagem {
        margin-left:50px;
        width: 150px;
    }
    .button {
        width: 100px;
    }
    h1 {
        font-size: 24px;
    }
}
